*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: aqua;
    
}
.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    padding:22px;
    margin: none;
    font-size: x-large;
    
}
.menu li,a{
    text-decoration: none;
    color: aliceblue;
    margin: 4px;
    font-weight: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.team{
    background-color: rgb(33, 3, 79);
    padding: 1%;
    color: rgb(233, 237, 237);
    text-align: center;
    font-weight: 1000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
    width: 600px;
    margin: auto;
    margin-top: 2%;
}
th{
    text-align: left;
}
table,th,td{
    border:2px solid;
     border-collapse:collapse ;
}
th,td{
    padding: 5px;
}

.footer{
    background-color: rgb(33, 3, 79);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}